.btn {
  border-radius: 0.3em;
  padding: 0.9em 5.3em;
  border: 0;
  cursor: pointer;
}

.btn-primary {
  background-color: #ffc241;
  font-size: 16px;

  &_invert {
    background-color: white;
  }

  &:active {
    background-color: #ffd170;
  }

  &:hover {
    background-color: #ffad00;
  }
}

.btn-item__option {
  height: 2.6rem;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  transition: all 0.3s linear;
  cursor: pointer;
  
  &:disabled {
    color: black;
    cursor: not-allowed;
    &:hover {
      transform: translateY(0);
    }
  }

  &_invert {
    cursor: pointer;
    transition: all 0.3s linear;
    height: 2.6rem;
    width: 100%;
    border: 0;
    background-color: #ffc241;

    &:disabled {
      color: black;
      cursor: not-allowed;
      &:hover {
        transform: translateY(0);
      }
    }

    &:hover {
      transform: translateY(-2px);
    }
  }

  &:hover {
    transform: translateY(-2px);
  }
}

.btn-blue {
  max-width: 185px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3665c0;
  background-color: #fff;
  border: 1.5px solid #3665c0;
  text-decoration: none;
  font-size: 18px;
  padding: 0;
  width: 100%;

  &_standart {
    color: #fff;
    background-color: #3665c0;
    border: 0;

    &:hover {
      background-color: #577CC2;
    }
  
    &:active {
      background: #244688;
    }
  }

  &_invert {
    color: #3665c0;
    background-color: #fff;
    border: 1.5px solid #3665c0;

    &:hover {
      color: #7590c2;
      border: 1.5px solid #7590c2;
    }

    &:active {
      color: #244688;
      border: 1.5px solid #244688;
    }
  }
}

.btn-blue-invert {
}

.btn-black-invert {
}

.btn-count {
  width: 30px;
  height: 30px;
  background-color: #F3F3FF;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  
  &:disabled {
    cursor: not-allowed; 
  }

  &:hover {
    background-color: #E7E7FF;

    &:disabled {
      cursor: not-allowed;
      background-color: #F3F3FF;
    }
  }
}